<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="MATSim.org">
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="/lib/style.css">
    <link rel="stylesheet" href="/main.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- LEAFLET -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

    <!-- VUE -->
    <script src="https://unpkg.com/vue"></script>

    <!-- FAVICON -->
    <link rel="icon" href="http://www.sfcta.org/sites/all/themes/sfcta/favicon.ico" type="image/vnd.microsoft.icon">

    <!-- facebook -->
    <meta property="og:site_name" content="MyStreet SF">
    <meta property="og:type" content="website">
    <meta property="article:publisher" content="http://www.sfcta.org">

    {% if page.project_name %}
        <title>{{page.project_name}}</title>
        <meta property="og:title" content="{{page.title}}">
    {% else %}
        <title>MyStreet- SFCTA</title>
        <meta property="og:title" content="MyStreet SF">
    {% endif %}

    <script src="/lib/jquery-latest.min.js"></script>

<!--
    {% include float-header-script.html %}
    {% include mobile-menu-script.html %}
    {% include google-analytics.html %}
-->

</head>
