  <!-- Navigation -->
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
          <div class="navbar-brand page-scroll title-link"><a href='/'>
            <img class="banner-logo" src="/images/sfcta-logo-144.png" alt="SFCTA" /></a>
          </div>
          <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                 <ul class="nav navbar-nav navbar-right">
                    {% for item in site.data.links.nav_links %}
                     <li class="li-header{%if page.section==item[0]%} navbar-selected{%endif%}"><a class="page-scroll" href="{{item[1]}}">{{item[0]}}</a></li>
                    {% endfor %}
                 </ul>

            </div>
          </div>
          <!-- /.navbar-collapse -->
        <!-- /.container-fluid -->
    </nav>
  </header>

  <!-- MOBILE NAV -->
  <div class="mobilenav">
    <h5 style="margin-top:0px; padding-top:0px">

    {% for item in site.data.links.nav_links %}
      <a href="{{item[1]}}">{{item[0]}}</a>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;
    {% endfor %}
<!--
    <a href="/trends/peopleandplace">Growth</a> &bull;
    <a href="/trends/transportation">Transportation</a> &bull;
    <a href="/trends/economy">Economy</a> &bull;
    <a href="/trends/library">Archive</a>
-->
    </h5>
  </div>
